@model VisitorsApp.Entities.Visitor




<div>
    <h4>Detalles de la visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfVisit)
        </dd>
    </dl>
</div>